body{
  background-image: url('https://i.ibb.co/qWmQ46m/background.jpg');
  background-repeat: no-repeat;
  background-size: 105%;
  background-attachment: fixed;
}

.App {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

.cartas{
  background-color: rgba(97, 97, 97, 0.9);
  margin: 5%;
  border-radius: 10px;
}
